

.App {
text-align: left;
}

.team-table-container {
font-size: 7vh;

}

.team-table-body {
    font-size: 2vh;
    
    }

.bruteForce {
  /* color:green;
  background-color: green; */
visibility: hidden;
height: 0vh;
}